{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<section class='text-center container'>
    <h2>Student Dictionary</h2>
    <p>Enter any word to get the phonetics, definition and an example for the word</p>
    <form action="" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <div class="input-group">
            <input class="form-control me-1" type="search" placeholder="Enter your search" aria-label="Search" name="text">
            <input class="btn btn-danger" type="submit" value="Submit">
        </div>
    </form><br>
    <div class="content-section p-0 mt-5">
        {% if input %}
        <div class="custom-header">
            <h2>{{ input }}</h2>
            <h6>{{ phonetics }}</h6>
            <audio id="player" src="{{ audio }}"></audio>
            <div>
                <a onclick="document.getElementById('player').play()">
                    <i class='fa fa-volume-up fa-2x'></i>
                </a>
            </div>
        </div>
    
        <hr class="p-0 m-0">
    
        <p class="float-left">
            <h4>Definition: {{ definition }}</h4>
            <h4>Example: {{ example }}</h4>
            Synonyms:
            {% for synonym in synonyms %}
                {{ synonym }}
            {% endfor %}
        </p>
        <hr>
    
        {% else %}
        <h2>Sorry, API request limit exceeded</h2>
        {% endif %}
    </div>
    
</section>
{% endblock content %}